.navbar {
  padding: 0.5em;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item{
  font-size: 20px;
}

.nav-item img{
  margin-right: 50px;
  border-radius: 50%;
  width: 120px;
  background-color: #e2e2e2;
}
.bg-primary {
  background: linear-gradient(180deg, rgb(157, 228, 236) 5%, #005aba 80%) ; /* Màu gradient từ tím sang xanh */
}

.bg-light {
  background: linear-gradient(180deg, white, #c7c6c6) ; /* Màu gradient từ trắng sang xám nhạt */
}

.nav-link {
  color: inherit;
}

.nav-link:hover {
  color: #f39c12;
}

.btn {
  transition: all 0.3s ease;
} 

.btn-light-mode:hover {
  background-color: white;
  transform: scale(1.05);
  color: rgba(32, 59, 232);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-light-mode:hover {
  background-color: white;
  transform: scale(1.05);
  color: rgba(32, 59, 232);
}

.btn-light-mode:hover i {
  animation: rotate 4s linear infinite; /* Xoay liên tục */
}
/* appHeaderStyle.css */
.btn-light-mode {
  background-color: #f8f9fa;
  color: #000;
}

.btn-dark-mode {
  background-color: #343a40;
  color: #e2e2e2;
}
.btn-dark-mode:hover {
  transform: scale(1.05);
}
.btn-dark-mode:hover i{
  /* filter: drop-shadow(0 2px 6px white); */
  animation: flaskmoon 1s linear infinite;
}
@keyframes flaskmoon{
  0% {
    filter: drop-shadow(0 0px 0px white); /* Bóng ban đầu */
  }
  50% {
    filter: drop-shadow(0 4px 12px white); /* Bóng lớn lên */
  }
  100% {
    filter: drop-shadow(0 6px 18px white); /* Bóng lớn nhất, không mờ */
  }
}