.container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  margin-top: 50px;
}

.container_event_detail {
  background-color: white;
  display: flex;
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.left_content {
  width: 65%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.left_content h2 {
  font-size: 2.2vw;
  margin-right: 10px;
}

.img_event {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.img_event img {
  width: 80%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.info_detail {
  margin-top: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
}

.info_detail p {
  font-size: 1.3vw;
}

.right_content {
  position: fixed;
  top: 20%;
  right: 10%;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.event_details_box_light {
  background-color: #f8f9fa;
  text-align: left;
  width: 80%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.event_details_box_light p {
  font-size: 1vw;
  margin-right: 10px;
  line-height: 20px;
}

.register_btn,
.delete_btn,
.list_user_btn,
.edit_btn,
.cancel_register_btn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(90deg, rgba(32, 59, 232, 1) 0%, rgba(32, 59, 232, 0.4) 100%);  color: white;
  border: none;
  border-radius: 35px;
  font-size: 1.0vw;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.register_btn:hover,
.delete_btn:hover,
.list_user_btn:hover,
.edit_btn:hover,
.cancel_register_btn:hover {
  box-shadow: 0 0 20px 1px rgba(32, 59, 232);
  background: linear-gradient(180deg, rgba(32, 59, 232, 1) 0%, rgba(32, 59, 232, 0.4) 100%);
}

@media (max-width: 991px) {
  .right_content {
    width: 25%;
    right: 12%;
    top: 30%;
  }

  .register_btn,
  .delete_btn,
  .list_user_btn,
  .edit_btn,
  .cancel_register_btn {
    font-size: 0.8vw;
    /* Giảm cỡ chữ của các nút */
    padding: 10px;
    /* Giảm padding của các nút */
  }

  .event_details_box_light p {
    font-size: 0.9vw;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 10px;
  }
}

@media (max-width: 700px) {
  .register_btn,
  .delete_btn,
  .list_user_btn,
  .edit_btn,
  .cancel_register_btn {
    padding: 5px;
    margin-bottom: 1px;
  }
}